<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime Pizza order App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <img src="/img/logo.png" alt="logo" width="50px" height="50px">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ml-2 menutext">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item ml-2 menutext">
                        <a class="nav-link" href="#">Menu</a>
                    </li>
                    <li class="nav-item ml-2 menutext">
                        <a class="nav-link" href="#">Offers</a>
                    </li>
                </ul>

                
                    <ul class="navbar-nav flex">
                        <li class="nav-item ml-2 menutext">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        <li class="nav-item ml-2 mr-2 menutext">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    </ul>
         
                <form class="d-flex menutextcart">
                   <a href="/cart" class="navcart inline-block px-4 py-2 rounded-full flex items-center">
                        <span id="cartCounter" class="text-white font-bold pr-2"><%= session.cart ? session.cart.totalQty : '' %></span>
                        <img src="/img/cart.png" alt="logo" width="20px" height="20px"></a>
                </form>
            </div>
        </div>
    </nav>
    <!-- <nav class="container mx-auto flex items-center justify-between py-4">
        <div>
            <img src="/img/logo.png" alt="logo" width="50px" height="50px">
        </div>
        <div>
            <ul class="flex items-center">
                <li class="ml-6"><a href="#">Menu</a></li>
                <li class="ml-6"><a href="#">Offers</a></li>
                <li class="ml-6"><a href="/register">Register</a></li>
                <li class="ml-6"><a href="/login">Login</a></li>
                <li class="ml-6"><a href="#" class="inline-block px-4 py-2 rounded-full"><img src="/img/cart.png"
                            alt="logo" width="20px" height="20px"></a></li>

            </ul>
        </div>
    </nav> -->
    <%- body %>
        <script src="/js/app.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>