@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}
.navcart{
    background-color: $primary;
    border-radius: 35px;
    &:hover{
        background: $primary-hover;
    }
}
#navbarSupportedContent li a {
    transition: $smooth;
    font-weight: $font;
    &:hover{
        color: $primary;
    }
}
.menutext{
    text-align: center;
}
@media only screen and(max-width: 991px){
    .menutext{
        border-bottom: 5px solid $primary;
    }
    .navcart{
        background-color: $primary;
        border-radius: 35px;
        margin-top: 8px;
        &:hover{
            background: $primary-hover;
        }
    }
}
.menutextcart{
justify-content: center;
}
section.hero{
    background-color: $gray;
}
.size{
    background-color: $gray;
}
.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
}
.btn-primary{
    background: $primary;
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
}

// cart
.amaount{
    color: $primary;
}
// Empty cart
section.cart{
    background: $gray;
}
// Login
section.login{
    background-image: url(/img/bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    color: $primary;
    min-height: calc(100vh-86px);
}
.color{
    color: $secondary;
    &:hover{
        color: $primary-hover;
    }
}
.login-box{
    background-color: $pure;
    border-radius: 35px;
    box-shadow: 0px 13px 16px 0px #6d3232;
}

//Noty motify style edit
.noty_theme__mint {
    border-radius: 50px !important;
    padding-left: 8px !important;
}
a.link{
    color: $primary;
}
section.status{
    background: $gray;
    min-height: calc(100vh - 86px);
}
.status-box{
    padding: 120px 60px 120px 60px;
    background: $primary;
    border-radius: 25px;
}
.status-box ul li span{
    position: relative;
    padding-left: 20px;
}
.status-box ul li{
    margin-left: 84px;
}
//Status box dots
.status-box ul li span:after{
    content:"";
    position:absolute;
    left: -10px;
    top: 50%;
    background: $dark;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 1px 10px $gray;
}
//icons

.status-box ul li span:before{
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
}
.status-box ul li:nth-child(1) span:before {
    content: '\f46c';
}

.status-box ul li:nth-child(2) span:before {
    content: '\f560';
}

.status-box ul li:nth-child(3) span:before {
    content: '\f818';
}

.status-box ul li:nth-child(4) span:before {
    content: '\f0d1';
}

.status-box ul li:nth-child(5) span:before {
    content: '\f582';
}
.status-box ul li {
    position: relative;
}
.status-box ul li{
    position: relative;
}
// line
.status-box ul li:before{
    content: "";
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background: $dark;
    margin-top: 10px;
}
//last dot

.status-box ul li:nth-child(5) span:after {
    box-shadow:0 20px 1px 20px $primary;
}
//line
.status-box ul li.step-completed:before{
    background: $gray;

}

//dots
.status-box ul li.step-completed span:after{
    background: $gray;

}

//text
.status-box ul li.step-completed span{
    color: $gray;

}

//current status
//text
.status-box ul li.current-status span{
    color: $secondary;

}
//dot
//dots
.status-box ul li.current-status span:after{
    background: $secondary;

}
.status-box ul li small{
    float: right;
    font-size: 16px;
    margin-top: 8px;
}
.nav-link{
    cursor: pointer;
}
.delverydetails {
    background-color: $secondary;
    min-height: fit-content;
    padding: 15px;
    border-radius: 25px;
}
.menubox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media only screen and (max-width: 991px){
    .menubox{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 667px){
    .menubox{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.menumainbox{
    background: $secondary;
    margin: 5px;
    padding: 10px;
    border-radius: 25px;
}
.menubutton{
    background: $primary-hover;
    padding: 5px;
    border-radius: 25px;
}
.banner{
    width: 100%;
    height: 250px;
    padding: 5px 5px;
}
.offerbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
//Footer



.new_footer_area {
    background: #111111;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}

.btn_get {
    background-color: $primary;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 10px;
}
.btn_get :hover {
    background: $primary-hover;
    color: white;
}
.btn_get:hover {
    color: #fff;
    background: $primary;
    border-color: $primary-hover;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}

.txtclr {
    color: #babcc0;
}



.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://i.pinimg.com/originals/f6/48/7a/f6487a65af5308d0767aef6216107394.gif") no-repeat center center;
    width: 88px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/*************footer End*****************/
.orders{
    min-height: 100vh;
}
.ordercart{
    background: $dark;
    margin: 10px;
    padding: 5px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.h2-order{
    color: white;
    font-size: 1.2rem;
}
@media only screen and (max-width: 991px){
    .ordercart{
        background: $dark;
        margin: 10px;
        padding: 5px;
        border-radius: 25px;
        display: grid;
        grid-template-columns: 1fr;
    }
}
.status_line{
    font-size: 1rem;
}
//404 error page

.fundo{
    animation: scales 3s alternate  infinite;
    transform-origin: center;
  }
  .pao-baixo{
     animation: rotatepao 14s cubic-bezier(.1,.49,.41,.97)  infinite;
    transform-origin: center;
  }
  .pao-cima{
     animation: rotatepao 7s 1s cubic-bezier(.1,.49,.41,.97)  infinite;
    transform-origin: center;
  }
  .olhos{animation: olhos   2s  alternate  infinite;
     transform-origin: center;
  }
  
  .left-sparks{animation: left-sparks   4s  alternate  infinite;
        transform-origin: 150px 156px;
  }
  
  .right-sparks{animation: left-sparks   4s  alternate  infinite;
        transform-origin: 310px 150px;
  }
  
  .olhos{animation: olhos   2s  alternate  infinite;
     transform-origin: center;
  }
  @keyframes scales{
    from { transform: scale(0.98)}
    to{ transform: scale(1)}
  }
  
  @keyframes rotatepao{
    0% { transform:  rotate(0deg)}
    50% , 60%{ transform:  rotate(-20deg)}
    100%{  transform:  rotate(0deg) }
   
  }
  
  @keyframes olhos{
    0%{
      transform: rotateX(0deg);
    }
     100%{
      transform: rotateX(30deg);
    }
  }
  
  @keyframes left-sparks{
    0%{
      opacity: 0; 
    }
    
  }
  
  
  .main{
    
    min-height: 600px;
    margin: 0px auto;
    width: auto;
    max-width: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .path {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: dash 4s   alternate infinite;
  }
  
  @keyframes dash{
     0%, 30%{
       fill: 4B4B62;
      stroke-dashoffset:   0;
    }
     80%,100%{
       fill: transparent;
      stroke-dashoffset:  -200;
    }
     
    
  }