@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}
.navcart{
    background-color: $primary;
    border-radius: 35px;
    &:hover{
        background: $primary-hover;
    }
}
#navbarSupportedContent li a {
    transition: $smooth;
    font-weight: $font;
    &:hover{
        color: $primary;
    }
}
.menutext{
    text-align: center;
}
@media only screen and(max-width: 991px){
    .menutext{
        border-bottom: 5px solid $primary;
    }
    .navcart{
        background-color: $primary;
        border-radius: 35px;
        margin-top: 8px;
        &:hover{
            background: $primary-hover;
        }
    }
}
.menutextcart{
justify-content: center;
}
section.hero{
    background-color: $gray;
}
.size{
    background-color: $gray;
}
.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
}
.btn-primary{
    background: $primary;
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
}

// cart
.amaount{
    color: $primary;
}
// Empty cart
section.cart{
    background: $gray;
}
// Login
section.login{
    background-image: url(/img/bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    color: $primary;
    min-height: calc(100vh-86px);
}
.color{
    color: $secondary;
    &:hover{
        color: $primary-hover;
    }
}
.login-box{
    background-color: $pure;
    border-radius: 35px;
    box-shadow: 0px 13px 16px 0px #6d3232;
}

//Noty motify style edit
.noty_theme__mint {
    border-radius: 50px !important;
    padding-left: 8px !important;
}
a.link{
    color: $primary;
}