</section>
<section>
    <div class="offer  my-16 mx-4">
        <div class="container">
            <div class="row d-flex align-items-center">
                <h1 class="text-xl font-bold mb-6">Today offer</h1>
                <div class="offerbox">
                    <img class="banner" src="/img/pizza1.png" alt="pizza">
                    <img class="banner" src="/img/pizza2.jpg" alt="pizza">
                    <img class="banner" src="/img/pizza3.jpg" alt="pizza">
                    <img class="banner" src="/img/pizza4.jpg" alt="pizza">
                </div>
            </div>
        </div>
    </div>
</section>